<h1>近畿大学</h1>
<p>@kinkidaigakuPR</p>
<p><font size="2">近畿大学総務部広報室のTwitter公式アカウントです。近畿大学ホームページの更新情報を中心に、大学に関する情報を発信していきます。個別のお問い合わせには返信行っておりません、ご了承ください。</font></p>
▼ クック諸島
<a href="https://ja.wikipedia.org/wiki/%E3%82%AF%E3%83%83%E3%82%AF%E8%AB%B8%E5%B3%B6">https://www.instagram.com/kinda</a>
■ 1770年10月1日に登録

